.dashicons-crazy-mega-menu:before {
    content: "\f489";
}

.img-box {
    float: right;
    height: 100px;
    position: relative;
    width: 100px;
}
.img-box:hover > span{
    display: block;
}
.img-box > span{
    display: none;
    background: #eee none repeat scroll 0 0;
    padding-bottom: 3px;
    padding-top: 3px;
    position: absolute;
    text-align: center;
    width: 100%;
    cursor: pointer;
}
.reston_radio-img label{
    display: inline-block;
    font-size: 12px;
    text-align: center;
    width: 45%;
}