/*===== Background Color =====*/
.logo,
.c-form button:hover,
.info-bar > ul > li.donate-btn__ a,
.mail-form form button,
.speeches-nav-car .nav-tabs > li > a::before,
.speeches-nav-car .slick-arrow:hover,
.speech-info > a i,
.contribute-form > button,
.link > i,
.pagination > li.prev a:hover, 
.pagination > li.next a:hover,
.pagination > li span.current,
.pagination > li a:hover,
.owl-prev:hover:before,
.owl-next:hover:before,
#topcontrol,
.baner-detail > ul > li::before,
.baner-detail > a,
.btn.btn-link[aria-expanded="true"],
.owl-dot.active,
.donate-baner form button:hover,
.workers > figure::before,
.countdown > li p,
.faq-list > li:hover,
.header-btn,
a.main-btn,
.slider-for-event .tab-pane > span a i,
.nav-tabs.flex-column > li a.active::after,
.video-play > a,
.login-area form button:hover,
.videos-contant figure > a,
.award-year > li > a.active::after,
.award-year > li > a.active::before,
.gallery-images::before,
.complete-proces > button,
.caro-meta > span,
.our-last-event::before,
.become-supporter > a,
.reply:hover,
.question-anser .btn.btn-link[aria-expanded="true"] > span.accord-num,
.res-head,
.submit-btn,
.news-post figure > a,
.featured-caro-btn li a span i,
.c-button,
.subcription-form .main-btn,
.intro-video-sec a,
.res-logo::before,
.scroll-wrapper .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.scroll-wrapper .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.res-login-form .main-btn,
.popup-clos-btn:hover,
.nav-tabs.flex-column > li a.active::before,
.gallery-img figure::before,
.webinane-submit,
.webinane-btn.webinane-btn-reveal,
.webinane-donation-level-btn.webinane-btn:hover,
.blog-post .post > a:hover,
.worker-contact > ul > li a:hover,
.c-form input.c-button,
.c-form .btn-send .submit.button,
.donate-baner > a.main-btn:last-child:hover,
.service-info > a,
.info-box > a,
.theme_btn_flat,
.countdown-evnt li:first-child p,
.newsletter-new button,
.comment-title::before,
.reply,
.tab-btn li a.active,
.give-submit.give-btn,
.single-volunteer-singlepage form input[type="submit"],
form.give-form legend.give-payment-mode-label,
.donation-form-banner .give-btn.give-btn-modal,
form#give-email-access-form .give-submit,
.donat-cat:hover,
.donat-cat:focus,
.donation-target-inner .progress-bar,
.d-payment-type input[type="radio"]:checked + label,
.donation-amount-list ul > li a:hover,
.d-payment-type input[type="radio"].active  + label,
.donation-popup span.close:hover,
.donation-popup span.close:focus, 
.donation-amount-list ul > li a.active, 
ul.donation-payment-types li a.wpdonation-button.active,
.donation-amount-list ul > li a.wpdonation-button.active,
.banner-btn:hover,
.humbrgr-menu-btn:hover,
.close-menu-btn,
.camps-caro .owl-prev::before, 
.camps-caro .owl-next::before,
.heading-sec-style2 span::after,
.checkbox-container input:checked ~ .checkmark,
header.header-style6 .topbtns-menus > .topfix-btns > a,
.adcart > li > a:hover, 
.woocommerce .adcart > li > a.button:hover,
.close-quickview,
.quick-view-box .full-postmeta .shopnow,
.clos-adv,
.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce .widget_price_filter .price_slider_amount .button:hover,
.k-product2.list-style .shopnow,
.full-postmeta .shopnow,
.input-group .btn.btn-default,
.single-product span.onsale,
.over-meta > a.add_to_cart_button,
.option-isotop > nav > ul.nav-fill a.active,
.load-more2.load-mor a,
.woocommerce #review_form #respond .form-submit input,
.woocommerce-cart table.cart td.actions button.button, 
.woocommerce-cart table.cart td.actions a.button, 
#add_payment_method .wc-proceed-to-checkout a.checkout-button, 
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button, 
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button,
.woocommerce ul#shipping_method li input[type="radio"]:checked + label::after,
.shipping-calculator-form > p button.shipping-calcu,
.woocommerce-checkout-review-order,
.woocommerce button.button.alt,
 .woocommerce button.button,
 .woocommerce-product-search button {

	background: #e5191d;
}
/*===== Text Color =====*/
.breadcrumb-item a:hover,
.contribute-desc > h2 > span,
.news-meta > h2 a:hover,
.blog-post > h2 a:hover,
.thumb-list-post li > div h4 a:hover,
.topstory-big > h4 a:hover,
.opinion > figure::before,
.banner-title > h4 span,
.tag > a:hover,
.activity-meta > h4 a:hover,
.twitter-date > p > a,
.counter-meta > h3 span,
.play-btn,
.creative-baner-meta span::before,
.creative-baner-meta span::after,
.main-title > h3 > span,
.slider-nav-event li > i,
.nav-tabs.flex-column > li a.active,
.event-info > h4 a:hover,
.error-page > p a,
.videos-tab > li > a.active,
.video-meta > h4 a:hover,
.award-year > li > a.active,
.gift-widget > p i,
.blog-rel-meta > h4:hover,
.category > a,
.current-post > span,
.single-author-meta > i,
.comment-titles > span,
.paginato > a:hover,
.paginato > a:hover i,
.info-box > h5 span,
.top-stories .thumb-list-post li figure i,
.login-area > h2 > a,
.next-post-caro .owl-prev:hover::before, 
.next-post-caro .owl-next:hover::before,
.next-post-caro .owl-nav span:hover,
.title-s .title-desc span.num-people,
.res-menu-list ul.menu-scroll li a:hover,
.res-info ul li span.bold-info,
.res-searchform i,
.post-information > span::before,
.quote-title .by .color,
header.style2 .right-box .header-btn:hover,
.header_1 .main-menu ul > li a:hover,
.widget_recent_entries ul li:hover,
.widget_recent_entries ul li:hover,
.widget_archive ul li:hover,
.widget_meta ul li:hover,
.widget_recent_comments ul li:hover,
.header_2 .main-menu ul > li a:hover,
.award-detail ul li > i,
#moto-sec2 p > a,
.award-year2,
.webinane-submit:hover,
.webinane-btn.webinane-btn-reveal:hover,
.widget_pages ul li a:hover,
.widget_categories > ul li a:hover,
.widget_rss ul li > a:hover,
.widget_tag_cloud .tagcloud a:hover,
.widget_nav_menu ul.menu li a:hover,
.paginate-links,
.paginate-link,
.paginate-links a:hover,
.paginate_link a:hover,
.blog-post .post > h2 a:hover,
.s-not-found > h3 span,
.news-meta > ul > li.byautor > a,
.become_member span,
.testi-meta > span,
.info-mete:hover h5,
.icon-shap,
.posted-by > a:hover,
.post-by > div > span.authr-nam a,
.post-by > div a:hover,
.menus-bar nav > ul li ul li:hover > a,
.campaign-box i,
.funfacts-item i,
.blog-mini-info ul li a.meta-date,
.blog-main-info h2:hover,
.blog-mini-info h2:hover,
.newtesti-content i,
.history-txt span,
.query-box span,
.donation-cmeta span.c-date,
.blog-post > span,
.pagination > li a.prev, 
.pagination > li a.next,
.category,
.single-author-meta > span,
.thumb-list-post li > div > span,
.thumb-list-post li > div > span, 
.thumb-list-post li > div > i,
.opinion > i,
.blog-detail blockquote p::before,
.menus-bar nav > ul > li > a:hover,
.event-date > span.date,
.worker-meta > span,
.post-info > span,
.res-clos-btn,
.donation-ctext > span i,
.donation-collection > sup,
.donation-info span,
.donation-collection > i,
.d-cat span,
.d-cat a:hover,
.donation-payment-top .tag-lne,
.donation-wrapper-content.webinane-donation-modal .donation-collection > span:first-child > i,
.donation-info span > a:hover,
.donation-info span > a:focus,
.banner-item a:hover,
.social-block a:hover span,
.footer-new ul.footer-menu li:hover a,
.menus-wraper ul li a:hover,
.btm-navigation ul li a:hover,
.btm-navigation form.search .clos-sform:hover,
.heading-sec-style2 span,
.footer3.footer-new .copyrights a,
header.header-style6 .topbtns-menus > ul > li a:hover,
header.header-style6 .topbtns-menus > ul > li a:focus,
header.header-style6 div.btm-navigation > ul > li:hover > a,
header.header-style6 div.btm-navigation > ul > li > a:focus,
.webinane-donation-page span.amount-return i,
.prices > ins,
.grid-product-meta > h4:hover,
.quick-view-box span.prices.style1 > ins span,
.woocommerce div.product .woocommerce-variation-price span.price,
.single-btn > li > a.active,
.comment-notes,
.shipping-calculator-button,
.woocommerce-info::before,
.woocommerce-info > a,
.woocommerce-account .woocommerce-MyAccount-navigation > ul > li::before,
.woocommerce-account .woocommerce-MyAccount-navigation > ul > li.is-active > a,
.woocommerce-MyAccount-content > p a,
 .donation-collection > span:first-child > i
{
	color: #e5191d;
}
/*===== Border Color =====*/
.videos-tab > li > a.active,
.payment-methhod > a.active,
.image-gallery,
.category > a,
.featured-caro-btn .owl-item.current,
.webinane-submit:hover,
.webinane-btn.webinane-btn-reveal:hover,
blockquote::before,
.campaign-box:hover,
.worker-contact > ul > li a:hover,
.owl-prev:hover::before,
.owl-next:hover::before,
.pagination > li a.prev, 
.pagination > li a.next,
.c-form input:focus, 
.c-form textarea:focus,
form.give-form .form-row input:focus,
form[id*="give-form"] .form-row input[type="email"]:focus,
.single-volunteer-singlepage form input[type="email"]:focus,
.single-volunteer-singlepage form input[type="text"]:focus,
.category > a,
form#give-email-access-form input#give-email:focus,
.donation-wrapper-content.webinane-donation-modal .donation-target-inner,
.banner-btn:hover,
.humbrgr-menu-btn:hover,
.banner-item a:hover,
.banner-item.creamish a:hover,
.humbrgr-menu-btn:focus,
.featured-caro-btn li,
.qty-select .qty.form-control,
.single-btn > li > a.active,
.donation-target-inner,
.donation-wrapper-content .donation-target-inner
{
	border-color: #e5191d;
}


.submit-btn {
	background: #e5191d !important;
}

.campaign-box:hover::before,
.workers:hover .worker-meta::before,
.workers.active .worker-meta::before,
.query-box:hover::before,
.query-box.active::before {
	border-right-color: #e5191d;
}

.d-payment-type input[type="radio"]:checked + label::after,
.d-payment-type input[type="radio"].active  + label::after{
    border-top: 8px solid #e5191d;
}

.woocommerce-error, .woocommerce-info, .woocommerce-message {
	border-top-color: #e5191d !important;
}