	/*
  	Flaticon icon font: Flaticon
  	Creation date: 27/04/2019 11:51
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff2") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-size: 20px;
font-style: normal;
}

.flaticon-drop:before { content: "\f100"; }
.flaticon-internet:before { content: "\f101"; }
.flaticon-capitol:before { content: "\f102"; }
.flaticon-vote:before { content: "\f103"; }
.flaticon-poll:before { content: "\f104"; }
.flaticon-think:before { content: "\f105"; }
.flaticon-vote-1:before { content: "\f106"; }
.flaticon-bullhorn:before { content: "\f107"; }
.flaticon-review:before { content: "\f108"; }
.flaticon-agreement:before { content: "\f109"; }
.flaticon-heart:before { content: "\f10a"; }
.flaticon-play-button:before { content: "\f10b"; }
.flaticon-old-handphone:before { content: "\f10c"; }
.flaticon-close-envelope:before { content: "\f10d"; }